.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*

node_modules
application/backend/package-lock.json
sealed-*
scripts/cert.pem
scripts/trivy-detailed.txt
scripts/postgres-secret-dev.yaml
scripts/postgres-secret-test.yaml
scripts/postgres-secret-prod.yaml
